@page "/premium"
@using MudBlazor

<MudPaper Class="square-content">
    <MudText Typo="Typo.h6">Premium</MudText>
</MudPaper>

<div class="circle_green">
    47
</div>

<style>
    .square-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black; /* Added border */
    }

    .circle_green {
        width: 100px;
        height: 100px;
        background-color: green;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        border: 2px solid black; /* Added border */
    }
</style>